body{
    background:linear-gradient(90deg, rgb(244,244,245),rgb(218,217,217));
}
.menu {
width: '100%';
height: 10vh;
padding: 0.5%;
}

.seccion1 , .section2 {
    width: 100%;
    min-height: 90vh;
    padding: 0 5;
}

.seccion1  {
    width: 200px;
}

.tecno{
    width: 100%;
    min-height: 50%;
    padding: 0 5%;
}
